@page
@model IdentityServerAspNetIdentity.Pages.Admin.Accounts.Index

<h2>All Users</h2>

<table class="table table-bordered table-striped table-sm table-responsive">
    <thead>
    <tr>
        <th>Email</th>
        <th>Username</th>
        <th>Phone Number</th>
        <th>Locked</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Users)
    {
        <tr class="@(user.LockoutEnd.HasValue && user.LockoutEnd.Value > DateTime.Now ? "bg-warning" :"")">
            <td>@user.Email</td>
            <td>@user.UserName</td>
            <td>@user.PhoneNumber</td>
            <td>@(user.LockoutEnd.HasValue && user.LockoutEnd.Value > DateTime.Now ? "Yes" : "No")</td>
            <td class="button-container">
                @* create a button to link to a razor page Details in Acconts *@
                <info-link href="@Url.Page("/Admin/Accounts/Details", new {id = user.Id})" size="Small" >Details</info-link>
                <primary-link href="@Url.Page("/Admin/Accounts/Edit", new {id = user.Id})" size="Small">Edit</primary-link>
            </td>

        </tr>
    }
    </tbody>
</table>
