@model IdentityServerAspNetIdentity.Pages.Components.SelectionItem.SelectionItemViewComponent


@{ var inputType = Model.AsRadio ? "radio" : "checkbox"; }

<div class="check-selection-item">
    @if (Model.IsChecked)
    {
        <input type="@inputType" name="@Model.Name" value="@Model.Value" checked/>
    }
    else
    {
        <input type="@inputType" name="@Model.Name" value="@Model.Value"/>
    }
    <label class="check-selection-label" for="@Model.Name">@Model.Value</label>

</div>